<div class="container">
    <div class="statisticsContainer" dir="rtl">
        <div class="imageContainer container">
            <div class="detailsContainer container">
                <div class="row justify-content-between align-items-center my-4">
                    <div class="col-12 col-lg-6 mb-2">
                        <h1>اشترك في نشرتنا البريدية</h1>
                        <label style="margin-top: 1rem; line-height: 1.5;">
                          اشترك الان للحصول  على أخر التحديثات والأخبار فيما يخص الخدمات
                            الإلكترونية واستطلاع آراء العموم في المشاركات الإلكترونية المجتمعية وأخر الأخبار الإعلامية
                        </label>
                    </div>
                    <div class="col-12 col-lg-6 mt-2 p-inputgroup-parent">
                        <!-- <div class="p-inputgroup">
                            <label for="">البريد الإلكتروني</label>
                            <input type="text" pInputText class="newsletterInput">

                            <span class="p-inputgroup-addon" style="
                            font-size: 1.2rem;padding: 4%;padding-left: 10%;padding-right: 10%;">اشتراك</span>
                        </div> -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control newsletterInput " placeholder="البريد الإلكتروني" aria-label=""
                            aria-describedby="basic-addon1" style="
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 0.25rem;
                            border-bottom-right-radius: 0.25rem;
                            background-color:rgba(255,255,255, 0.1);">
                            <div class="input-group-prepend">
                                <button class="btn btn-light" style="border-top-right-radius: 0rem; border-bottom-right-radius: 0rem;" type="button">اشتراك</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
