.bread-crumb-section{
  margin-right: 5%;
  font-size: 0.8rem;
  padding-top: 1%;
  text-align: end;
  font-family: 'JannaLT', sans-serif;
}


.green-text{
  color: #46763a;
  padding-right: 1rem;
}

.header{
  padding-right: 7%;
  text-align: right;
  color: #46763a;

  h3{
    font-family: 'haser', sans-serif;
    font-size: 2rem !important;
  }

}


.detailsButton {
  text-align: left;
  color: #46763a;
  font-weight: bold;
  font-family: 'haser', sans-serif;
  cursor: pointer;
  padding: 1.3rem !important;
  font-size: 1.2rem;

  i{
    font-size: 1.2rem;
    font-weight: bold;
  }

}


.imageContainer {
  width: 100%;
  height: 23rem;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
  }
}

.itemContainer{
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -webkit-transition: 0.5s all;
  border: 3px solid transparent;
  border-radius: 22px;
  width: 24.5rem;
  height: 40rem;

  box-shadow: 1px 1px 11px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 11px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 11px -3px rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 1.3rem;
    max-width: 90%;
    line-height: 1.7;
  }
}

.content-container{
  height: 25vh;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  padding-bottom: 15rem !important;
}


.itemContainer:hover {
  border: 3px solid #46763a;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -webkit-transition: 0.5s all;
}

.itemDescription {
  font-size: 0.9rem !important;
  padding-right: 0;
  text-align: justify;
}


.padded {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}



:host ::ng-deep {

  .p-tabview-title{

    font-size: 1.5rem;
    font-weight: 500;

  }

  .p-tabview .p-tabview-nav li {
    padding-left: 2%;
    padding-right: 2%;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    padding-bottom: 0.3rem !important;
  }


    .p-highlight {
        .p-tabview-title {
            background-color: #fff !important;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            border-radius: 10px;
            font-size: 1.5rem;
        }
        .p-tabview-nav-link {
            color: #46763a !important;
        }
    }
    .p-tabview .p-tabview-nav {
        border: 1px solid transparent;
        border-radius: 15px;
        background-color: #46763a;
        display: flex;
        justify-content: start;
        padding-top: 0.1rem;
        padding-bottom: 0;
    }
    .p-highlight {
        .p-tabview-nav-link {
            padding-top: 0.3rem !important;
            padding-bottom: 0.3rem;
        }
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        color: #fff;
        border-radius: 0;
        margin: 0;
        background-color: #46763a;
        border: 1px solid transparent;
    }

    .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
      margin-top: 0.3rem !important;
      background-color: #fff !important;
      padding-top: 0.6rem  !important;
      padding-bottom: 0.6rem  !important;
      // padding-right: 1.5rem  !important;
      // padding-left: 1.5rem  !important;
      border-radius: 10px;
      font-size: 1.5rem;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none !important;
        border: none !important;
    }
  }
