<div class="container-fluid main-container">

  <div class="bread-crumb-section mr-4 pb-3">
    <span routerLink="/home">الرئيسية > </span>
    <span style="font-weight: bold;">الأسئلة الشائعة </span>
  </div>

  <div class="header">
    <h3>الأسئلة الشائعة</h3>
  </div>




  <div class="search-section position-relative d-flex justify-content-center align-items-center">

    <div style="width: 37%; z-index: 3; position: relative;">
      <input type="text" class="search-input" placeholder="|  كيــــــــف يمكننا مســـــــاعدتــــــك ؟">
      <img src="../../../assets/images/background/search-icon.png" style="width: 7%;
      height: 86%;
      padding-top: 3%;
      position: absolute;
      right: 4%;
      z-index: 2;">
    </div>


    <img src="../../../assets/images/background/bottom-right-overlay.png"
      style="width: 70%; height: 100%; position: absolute; right: 0; z-index: 2;">

  </div>


  <div class="main-section d-flex justify-content-between">

    <div class="faqs-section">


      <p-panel header="ماهي معايير تقييم العقار المنزوع؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">يعتمد ممثلي الهيئة المشاركين في لجان التقدير على معايير التقييم الدولية 2020 المتوافقة مع
            معايير الهيئة السعودية للمقيمين المعتمدين ومجلس معايير التقييم الدولية</p>

          <!-- <img src="./assets/images/background/faq-overlay.png" style="position: absolute; bottom: -14%;"/> -->

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>


      <p-panel header="كيف يتم تقييم المواقع الخاضعة   للإستثمار؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">يتم تقييم المواقع الخاضعة للإستثمار بعد تحليل السوق وتحديد السعر من خلال التفاعل بين
            العرض والطلب ويتم الإعتماد على أسلوب الدخل (طريقة للإستثمار) بحيث يتم تقدير القيمة الرأسمالية للعقار بناء
            على الدخل الذي يحققه بعد خصم مصروفات التشغيل والصيانة والنفقات الأخرى</p>

          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>

      <p-panel header="كيف اعترض على التثمين المحدد للعقار محل النزع؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">تضمنت المادة الرابعة والعشرين من نظام نزع ملكية العقارات للمنفعة العامة ووضع اليد المؤقت
            على العقار الصادر بالمرسوم الملكي رقم م/ 15 وتاريخ 11/3/1442هـ (انه يجوز لأصحاب الشأن التظلم أمام ديوان
            المظالم من جميع قرارات اللجان والأجهزة الإدارية التي تتخذ وفقا لهذا النظام خلال ستين يوما من تاريخ ابلاغهم
            بالقرار)</p>

          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>

      <p-panel header="ماهي منصة انتفاع؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">منصة الكترونية تابعة للهيئة العامة لعقارات الدولة تهدف إلى تقديم كافة الخدمات العقارية
            وتسهيل إنجاز الطلبات إلكترونياً للمستفيدين من جهات حكومية، قطاع خاص وأفراد</p>

          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>

      <p-panel header="كيف يمكنني التقديم على فرصة استثمارية؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">يمكنك الاطلاع على دليل المستخدم، للوصول انقر هنا</p>

          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>

      <p-panel header="ماهي الخدمات الإلكترونية التي تقدمها منصة انتفاع؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">يمكنك التعرف على الخدمات التي تقدمها منصة انتفاع من خلال صفحة الخدمات الإلكترونية، للوصول
            اضغط هنا</p>

          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>

      <p-panel header="أواجه مشكلة في أحد الخدمات الإلكترونية؟" [collapsed]="true" [toggleable]="true">

        <div style="position: relative; padding: 0;">

          <p class="panelText">يمكنك التواصل معنا لنتمكن من خدمتك عبر أحد قنوات الاتصال المتاحة في صفحة اتصل بنا</p>


          <img src="./assets/images/background/faq-overlay.png"
            style="position: absolute; bottom: -38%;height: 100%;right: 67%;" />

          <!-- <img src="./assets/images/icons/zigzagshape.png" style="position: absolute; top: 0; left: 47%;"/> -->

        </div>


      </p-panel>



    </div>


    <div class="contact-section d-flex flex-column ">

      <h3 style="text-align: center;">تواصل معنا </h3>

      <div class="d-flex justify-content-start pt-4">
        <img src="../../../assets/images/background/phone-icon.png"
          style="width: 30px; height: 30px; z-index: 2; margin-left: 15%;">
        <p style="font-weight: bold;"> 19019 </p>
      </div>

      <div class="d-flex justify-content-start pt-4">
        <img src="../../../assets/images/background/email-icon.png"
          style="width: 30px; height:30px; z-index: 2; margin-left: 15%;">
        <p style="font-weight: bold;">KSA@KSA.com</p>
      </div>

      <div class="d-flex justify-content-start pt-4">
        <img src="../../../assets/images/background/twitter-icon.png"
          style="width:30px; height: 30px; z-index: 2; margin-left: 15%;">
        <p style="font-weight: bold;">Twitter.com/Spga</p>
      </div>


    </div>

  </div>


</div>
