<div class="container">
    <div class="imageContainer">
        <div class="row justify-content-around detailsContainer" dir="rtl">
            <div class="col-auto my-3">
                <h1>1 مليار</h1>
                <label>إجمالى قيمة الفرص الإستثمارية</label>
            </div>
            <div class="col-auto my-3">
                <h1 >  300 مليون</h1>
                <label>	إجمالى المساحة المخصصة</label>
            </div>
            <div class="col-auto my-3">
                <h1>10 مليار</h1>
                <label>	إجمالى قيمة التعويضات </label>
            </div>
            <div class="col-auto my-3">
                <h1>4 آلاف</h1>
                <label>طلبات العقارات المفرغة </label>
            </div>
        </div>
    </div>
</div>
