<div class="container-fluid main-container">

  <div class="bread-crumb-section mr-4 pb-3">
    الرئيسية >  <span style="font-weight: bold;"> تفاصيل الخبر </span>
  </div>

  <div class="header">
    <h3>محمد بن راشد يستعرض مع الرئيس القبرصي آفاق الشراكة الإستراتيجية</h3>
    <span style="color:black;">الخدمات الإلكترونية</span>
  </div>


  <div class="row justify-content-around news-container">


    <div class="related-news-container position-relative">

      <label>اخبار قد تعجبك</label>

      <div class="related-news-info">

        <div style="width: 100%; " class="position-relative">
          <img src="../../../assets/images/background/related-news-info.png" style="width: 100%;">
          <div class="position-absolute top-right-info">الشارقة</div>
          <div class="position-absolute bottom-left-info">08/03/2020</div>
        </div>

        <div style="padding-top: 6%;">
          <h1 style="font-size: 1.1rem; font-weight: bold;">العقروبي: "بوابة إلى الميتافيرس" يضم 60 فناناً أجنبياً و15 محلياً</h1>
          <p style="padding-top: 2%;">أكد صاحب السمو الشيخ سعود بن صقر القاسمي، عضو المجلس الأعلى، حاكم رأس الخيمة، أهمية قطاع الطيران باعتباره ركيزة أساسية لتحقيق التنمية المستقبلية المستدامة. جاء ذلك خلال حضور سموه جانباً من فعاليات النسخة </p>
        </div>


      </div>

      <div class="related-news-info">

        <div style="width: 100%; " class="position-relative">
          <img src="../../../assets/images/background/related-news-info.png" style="width: 100%;">
          <div class="position-absolute top-right-info">الشارقة</div>
          <div class="position-absolute bottom-left-info">08/03/2020</div>
        </div>

        <div style="padding-top: 6%;">
          <h1 style="font-size: 1.1rem; font-weight: bold;">العقروبي: "بوابة إلى الميتافيرس" يضم 60 فناناً أجنبياً و15 محلياً</h1>
          <p style="padding-top: 2%;">أكد صاحب السمو الشيخ سعود بن صقر القاسمي، عضو المجلس الأعلى، حاكم رأس الخيمة، أهمية قطاع الطيران باعتباره ركيزة أساسية لتحقيق التنمية المستقبلية المستدامة. جاء ذلك خلال حضور سموه جانباً من فعاليات النسخة </p>
        </div>


      </div>

      <div class="related-news-info">

        <div style="width: 100%; " class="position-relative">
          <img src="../../../assets/images/background/related-news-info.png" style="width: 100%;">
          <div class="position-absolute top-right-info">الشارقة</div>
          <div class="position-absolute bottom-left-info">08/03/2020</div>
        </div>

        <div style="padding-top: 6%;">
          <h1 style="font-size: 1.1rem; font-weight: bold;">العقروبي: "بوابة إلى الميتافيرس" يضم 60 فناناً أجنبياً و15 محلياً</h1>
          <p style="padding-top: 2%;">أكد صاحب السمو الشيخ سعود بن صقر القاسمي، عضو المجلس الأعلى، حاكم رأس الخيمة، أهمية قطاع الطيران باعتباره ركيزة أساسية لتحقيق التنمية المستقبلية المستدامة. جاء ذلك خلال حضور سموه جانباً من فعاليات النسخة </p>
        </div>


      </div>

      <div class="related-news-info">

        <div style="width: 100%; " class="position-relative">
          <img src="../../../assets/images/background/related-news-info.png" style="width: 100%;">
          <div class="position-absolute top-right-info">الشارقة</div>
          <div class="position-absolute bottom-left-info">08/03/2020</div>
        </div>

        <div style="padding-top: 6%;">
          <h1 style="font-size: 1.1rem; font-weight: bold;">العقروبي: "بوابة إلى الميتافيرس" يضم 60 فناناً أجنبياً و15 محلياً</h1>
          <p style="padding-top: 2%;">أكد صاحب السمو الشيخ سعود بن صقر القاسمي، عضو المجلس الأعلى، حاكم رأس الخيمة، أهمية قطاع الطيران باعتباره ركيزة أساسية لتحقيق التنمية المستقبلية المستدامة. جاء ذلك خلال حضور سموه جانباً من فعاليات النسخة </p>
        </div>


      </div>

      <img class="bottom-right-overlay" src="../../../assets/images/background/bottom-left-overlay.png">

    </div>



    <div class="news-details-container  ">

      <div class="image-container position-relative">
        <img src="../../../assets/images/background/news-details-background.png" style="width: 100%;">
        <img class="share-button" src="../../../assets/images/background/share-button.png">
      </div>

      <div class="publish-details d-flex justify-content-between">

        <div class="publish-date">
          تم النشر في : 2 مارس 2012
        </div>

        <div class="author-details d-flex justify-content-between align-items-center">

          <div style="padding-right: 2%;">
            <span>كتبه / عمر خليفه</span>
          </div>

          <div>
            <p-avatar size="large" image="../../../assets/images/background/avatar-image.png"></p-avatar>
          </div>

        </div>

      </div>


      <div class="main-news-text">

        <p>
          بحضور معالي حمد أحمد روح الدين، وزير الإعلام والثقافة الكويتي، احتفلت دولة الكويت بعيدها الوطني في إكسبو 2020 دبي، أمس الجمعة.

        </p>

        <p>
          ورحب معالي خليفة شاهين المرر وزير دولة بالضيف الكويتي والوفد المرافق فور وصولهم موقع إكسبو 2020 دبي، وقال معاليه: نبارك لدولة الكويت حكومة وشعبا يومها الوطني الـ 61 ونهنئها على مشاركتها المتميزة في اكسبو 2020 دبي، والتي تستعرض إمكانات دولة استطاعت أن تمزج بين الماضي والحاضر، لتشكل رؤية بعيدة المدى لمستقبلها ويتجسد ذلك من خلال الجناح الذي يبرز لزواره طاقة دولة الكويت وطبيعتها، والأهمية التي توليها حكومتها للاستدامة، بما يتماشى مع رؤية الكويت 2035.
        </p>

        <p>
          وأضاف ان التعاون بين بلدينا يشهد تطوراً مستمراً في مختلف المجالات، عبر شراكات متنوعة في المجالات ذات الاهتمام المشترك، ولا تزال الإمارات تعمل مع شقيقتها الكويت، من أجل مستقبل أكثر رخاء يجمعنا معاً.

        </p>

        <p>
          ومن جانبه قال معالي حمد أحمد روح الدين إن اختيار إمارة دبي لتكون مقر استضافة إكسبو 2020 دبي للمرة الأولى في منطقة الشرق الأوسط وأفريقيا والشرق الأوسط لإدارة هذا الحدث العالمي، ما هو إلا مباركة وثقة عالمية على قدرة دولة الإمارات العربية المتحدة في إدارة الفعاليات العالمية، رغم التحديات الناجمة عن انتشار جائحة كوفيد-19 التي خلفت أزمات اقتصادية واجتماعية وصحية على المستوى العالمي، ليكون إنجازاً كبيراً يضاف إلى الإنجازات التي تحققها دولة الإمارات العربية المتحدة في كافة المجالات.

        </p>

        <p>

          وأضاف ان جناح دولة الكويت في إكسبو 2020 دبي الذي يقع في منطقة الاستدامة يعكس الوجه الحضاري والتنموي للبلاد، بشعار "الكويت الجديدة.. فرص جديدة للاستدامة"، ليتيح لزواره الذين تجاوزوا حاجز المليونين زائر الاطلاع على تاريخ الكويت العامر بالإنجازات، وحاضرها الزاخر بالتطور العمراني والنهضة التنموية ورؤيتها المستقبلية 2035.

        </p>

        <p>

          وقدمت فرقة التلفزيون الوطني الكويتي عرضا فنيا وغنائيا مستوحى من الفنون التقليدية في دولة الكويت ومنطقة الخليج. وعكس العرض لوحات من المأثورات الشعبية المحلية، كما شدت مغنية الأوبرا الإماراتية أماني الحجي، أغنية بعدة لغات بينها الإنجليزية والفرنسية على إيقاعات دفوف تقليدية، وصاحبها بعض الأهازيج المحلية المعروفة.

        </p>

        <p>

          ويقع جناح الكويت في منطقة الاستدامة، وفيه تؤكد الدولة على التزامها بالتنمية المستدامة، لتأمين مستقبل آمن وزاهر لاقتصادها وبيئتها ومدنها وشعبها، ويقدم الجناح نظرة خاصة للمعمار الكويتي المستوحاة من رؤية الكويت للاستدامة، ويضم الجناح اللفافة، وهي واجهة تتلألأ لتعكس ضوء الشمس في تجسيد لطبيعة الكويت وطاقتها.

        </p>

      </div>


    </div>

  </div>








</div>
