<footer class="footer mt-auto py-3 bg-ksa" dir="ltr">
    <div class="container-fluid footer-main-container">
        <div class="row">
            <div class="col-12 p-0 d-flex row justify-content-between footer-content-container">
                <div class="col-12 col-lg-7 mb-5 mb-lg-0 justify-content-center p-0 footer-logo-container">
                    <div class="row d-flex justify-content-center justify-content-xl-start">
                        <div class="col-12 col-sm-auto mb-5 mb-sm-0 d-flex flex-column align-items-center" dir="rtl" style="max-width: 17rem;">
                            <h1>تواصل معنا</h1>
                            <div class="d-flex flex-row">
                                <img src="./assets/images/icons/location.png" width="50" height="50" />
                                <a class="locationLabel mx-4 mx-md-0 mx-sm-0" target="_blank" href="https://www.google.com/maps?q=24.681686,46.7076137&z=17&hl=en">طريق الملك سعود، السليمانية، الرياض 12621
                                    المملكة العربية السعودية</a>
                            </div>
                            <div class="d-flex flex-row socialLinks">
                                <img src="./assets/images/icons/SocialLinks/tw.png" class="mx-1" style="width: 22px;" />
                                <img src="./assets/images/icons/SocialLinks/ig.png" class="mx-1" style="width: 24px;" />
                                <img src="./assets/images/icons/SocialLinks/whatsapp-512.png" class="mx-1"
                                    style="width: 24px;" />
                            </div>
                        </div>

                        <div class="divider mx-2 d-none d-sm-block"></div>

                        <div class="col-12 col-sm-auto mb-5 mb-md-0 mb-lg-5 mb-xl-0 d-flex flex-column align-items-center" dir="rtl">
                            <img src="./assets/images/logo/footer2.png" width="128" height="100" style="margin-right: 10px;" />
                        </div>

                        <div class="divider mx-2 d-none d-md-block d-lg-none d-xl-block"></div>

                        <div class="col-12 col-md-auto col-lg-12 col-xl-auto d-flex flex-column align-items-center" dir="rtl">
                            <img src="./assets/images/logo/footer1.png" width="180" height="104" />
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5 mb-5 mb-lg-0 justify-content-center justify-content-xl-start p-0 d-flex footer-fastLinks" dir="rtl">
                    <div class="d-flex flex-column mx-3 ">
                        <h1>المعلومات</h1>

                        <a class="mt-2" [routerLink]="'/about-us'">عن انتفاع</a>
                        <a class="mt-2">الشروط والأحكام </a>
                        <!-- <label class="mt-2">اتصل بنا</label> -->
                    </div>
                    <div class="d-flex flex-column mx-3 ">
                        <h1> روابط مساعدة</h1>

                        <a class="mt-2" [routerLink]="['/home']">الرئيسية</a>
                        <a class="mt-2" [routerLink]="['/electronic-services']">الخدمات</a>
                        <a class="mt-2" >خريطة الموقع</a>
                    </div>
                    <div class="d-flex flex-column mx-3 ">
                        <h1>حمل التطبيق</h1>

                        <div class="d-flex flex-row socialLinks">
                            <img src="./assets/images/icons/SocialLinks/android.png" style="width: 26px; height: 30px;"
                                class="mx-2" />
                            <img src="./assets/images/icons/SocialLinks/apple.png" style="width: 26px; height: 30px;"
                                class="mx-2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 p-0 d-flex justify-content-center align-items-baseline mt-sm-4 mt-md-4">
                <label>جميع الحقوق محفوظة © 2022</label>
            </div>
        </div>
    </div>
</footer>
