<div class="container-fluid main-container">

  <div class="bread-crumb-section mr-4 pb-3">
    الرئيسية >  <span style="font-weight: bold;">أحدث الأخبار</span>
  </div>

  <div class="header">
    <h3>أحدث الأخبار</h3>
  </div>



  <div class="top-banner">

    <div class="top-banner-description">

      <ul>
        <li>اراضي</li>
      </ul>

      <p>محمد بن راشد يستعرض مع الرئيس القبرصي آفاق الشراكة الاستراتيجية</p>

    </div>



    <div class="top-news-container d-flex justify-content-around">

      <div class="top-news-box">
        البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي جماعة إرهابية
      </div>

      <div class="top-news-box">
        البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي جماعة إرهابية
      </div>

      <div class="top-news-box">
        البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي جماعة إرهابية
      </div>

      <div class="top-news-box" >
        البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي جماعة إرهابية
      </div>

    </div>


  </div>


  <div class="news-list-container">

    <h3 class="green-text">اخبار متنوعه</h3>

    <div class="news-list-item d-flex justify-content-around position-relative">

      <div  class="news-image-container position-relative">
        <img src="../../../assets/images/background/news-item-background.png" style="width: 100%; height: 100%;">
        <div class="position-absolute top-right-info">الشارقة</div>
        <div class="position-absolute bottom-left-info">08/03/2020</div>
      </div>

      <div class="news-description-container">

        <label>تدشين منصة انتفاع</label>

        <p>
          أعلنت الهيئة العامة لعقارات الدولة عن تدشين منصة انتفاع وهي منصة إلكترونية تابعة للهيئة تقدم كافة الخدمات العقاريةو تسهل إنجاز الطلبات إلكترونياً للمستفيدين وتقدم أكثر من 30 خدمة إلكترونية
        </p>

      </div>


      <div class="read-more-button position-absolute" (click)="Route()">
        اكمل القراءة   <i class="pi pi-arrow-left mx-2"></i>

      </div>

    </div>



    <div class="news-list-item d-flex justify-content-around position-relative">

      <div  class="news-image-container position-relative">
        <img src="../../../assets/images/background/news-item-background.png" style="width: 100%; height: 100%;">
        <div class="position-absolute top-right-info">الشارقة</div>
        <div class="position-absolute bottom-left-info">08/03/2020</div>
      </div>

      <div class="news-description-container">

        <label>تهنئة بحلول شهر رمضان المبارك</label>

        <p>
          أسرة انتفاع تهنئكم بحلول شهر رمضان المبارك جعله الله رحمة ومغفرة للعالمين
        </p>

      </div>


      <div class="read-more-button position-absolute" routerLink="/news-details">
        اكمل القراءه   <i class="pi pi-arrow-left mx-2"></i>

      </div>

    </div>



    <div class="news-list-item d-flex justify-content-around position-relative">

      <div  class="news-image-container position-relative">
        <img src="../../../assets/images/background/news-item-background.png" style="width: 100%; height: 100%;">
        <div class="position-absolute top-right-info">الشارقة</div>
        <div class="position-absolute bottom-left-info">08/03/2020</div>
      </div>

      <div class="news-description-container">

        <label>قنوات التواصل لمنصة انتفاع</label>

        <p>
          تابع الآن الخدمات الرقمية المتنوعة لمنصة انتفاع من خلال منصتي Twitter وInstagram وتعرف على المزايا الجديدة مسبقاً
        </p>

      </div>


      <div class="read-more-button position-absolute" routerLink="/news-details">
        اكمل القراءه   <i class="pi pi-arrow-left mx-2"></i>

      </div>

    </div>



    <div class="news-list-item d-flex justify-content-around position-relative">

      <div  class="news-image-container position-relative">
        <img src="../../../assets/images/background/news-item-background.png" style="width: 100%; height: 100%;">
        <div class="position-absolute top-right-info">الشارقة</div>
        <div class="position-absolute bottom-left-info">08/03/2020</div>
      </div>

      <div class="news-description-container">

        <label>انتفاع موبايل</label>

        <p>
          أعلنت الهيئة العامة لعقارات الدولة عن إطلاق تطبيق انتفاع موبايل حيث سيتمكن المستفيدين من تحميل التطبيق والإستفادة  من الخدمات المقدمة
        </p>

      </div>


      <div class="read-more-button position-absolute" routerLink="/news-details">
        اكمل القراءه   <i class="pi pi-arrow-left mx-2"></i>

      </div>

    </div>


    <div class="news-list-item d-flex justify-content-around position-relative">

      <div  class="news-image-container position-relative">
        <img src="../../../assets/images/background/news-item-background.png" style="width: 100%; height: 100%;">
        <div class="position-absolute top-right-info">الشارقة</div>
        <div class="position-absolute bottom-left-info">08/03/2020</div>
      </div>

      <div class="news-description-container">

        <label>لتنفيذي يعتمد تفاهم "الشارقة للتعليم" و"تنمية الطفولة" بسوريا</label>

        <p>
          تفاعل على مواقع التواصل الاجتماعي في روسيا مع فيديو ضد الحرب في أوكرانيا لنجم هوليود أرنولد شوارزنيغير.البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي جماعة إرهابية البرلمان العربي يثمن قرار مجلس الأمن بتصنيف الحوثي أبراموفيتش..
        </p>

      </div>


      <div class="read-more-button position-absolute" routerLink="/news-details">
        اكمل القراءه   <i class="pi pi-arrow-left mx-2"></i>

      </div>

    </div>


  </div>



</div>
