<div style="position: relative;">
    <div class="container">
        <div class="servicesContainer mt-5 pb-5" dir="rtl">
            <div class="pt-4">
                <h1>الأسئلة الشائعة</h1>

                <div class="mt-4 mb-5" dir="ltr">
                    <p-carousel [numVisible]="3" [numScroll]="1" [value]="items" [circular]="true" [responsiveOptions]="responsiveOptions"
                        [showIndicators]="false" [autoplayInterval]="30000" [showNavigators]="true">
                        <ng-template let-item pTemplate="item">
                            <div class="itemContainer mt-5" [fluidHeight]="1">
                                <div class="padded" dir="rtl">
                                    <div class="alignment" style="height: 40%;">
                                        <h1 class="mt-2">{{item.title}}</h1>
                                    </div>
                                    <div class="p-1" style="height: 40%; text-align: start;">
                                        <label class="itemDescription">{{item.description}}</label>
                                    </div>
                                    <div style="height: 20%;">
                                        <div class="detailsButton" routerLink="/faq">  اقرأ المزيد <i class="pi pi-arrow-left mx-2"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                    <div class="detailsButton" routerLink="/faq"> <i class="pi pi-arrow-left mx-2"></i> عرض الكل </div>

                </div>
            </div>
        </div>
    </div>
    <img id="section-background" src="../../../../../assets/images/background/faq-background.png"
        style="height: 100%; width:100%;position: absolute; left: 0; top:0; z-index: -999;" alt="" />
</div>
